# Output binaries
*.class
/target

# IDE files
/.project
/.classpath
/.settings
/.build
.*
*.py.*
*.py.*
*.py.*
*.py.*
*.py.*
*.py.*
*.py.*
*.py
# javadoc-generated documentation
/docs/api

# Mac OS File Attributes
.DS_Store

# virtual machine crash logs
hs_err_pid*

