<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>

    <!-- Console Appender -->
    <Console name="Console" target="SYSTEM_OUT">
        <PatternLayout pattern="[%t] %-5level %logger{36} - %msg%n">
        </PatternLayout>
    </Console>

    <!-- File Appender -->
    <File name="File" fileName="log/app.log">
      <PatternLayout
          pattern="[%sequenceNumber %level{TRACE=TR, DEBUG=DE, INFO=IN, WARN=WA, ERROR=ER, FATAL=FA}] %C.%M %M: %m %throwable{3}%n"/>
    </File>

  </Appenders>
  <Loggers>
    <Root level="INFO">
      <AppenderRef ref="Console" />
      <AppenderRef ref="File" />
    </Root>
  </Loggers>
</Configuration>
